root = true

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
end_of_line = lf
indent_style = space
insert_final_newline = true

# Matches multiple files with brace expansion notation
# Set default charset
[*.php]
indent_size = 4

[.js]
indent_size = 2
